.article {
  &__title {
    &--single {
      margin: 0 0 50px;
      color: @color__blue;

      .mobile__pc({
        margin-bottom: 15px;
      });
    }

    &--mini {
      font-size: 32px;
      font-weight: 700;
      margin: 0 0 15px;
  
      .desktop__pc--1400-auto({
        font-size: 30px;
        margin: 0 0 13px;
      });
  
      .tablet__pc({
        font-size: 28px;
        margin: 0 0 13px;
      });
  
      .mobile__pc({
        font-size: 24px;
        margin: 0 0 10px;
      });
    }
  }

  &__excerpt-wysiwyg {
    font-size: 20px;
    line-height: 1.4;

    .desktop__pc--1400-auto({
      font-size: 19px;
      line-height: 1.35;
    });

    .tablet__pc({
      font-size: 18px;
      line-height: 1.3;
    });

    .mobile__pc({
      font-size: 17px;
      line-height: 1.35;
    });

    p {
      margin: 0;
    }
  }

  &--single {
    width: 100%;
  }
}