.container {
  &--home {
    height: 100%;
    padding: 150px 10% 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .desktop__pc--1100-auto({
      padding: 50px 5%;
      flex-direction: column;
    });

    .tablet__pc({
      padding: 50px 5%;
      flex-direction: column;
    });

    .mobile__pc({
      padding: 50px 5%;
      flex-direction: column;
    });
  }

  &--archive {
    padding: 25px 10% 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .desktop__pc--1100-auto({
      padding: 50px 5%;
      flex-direction: column;
    });

    .tablet__pc({
      padding: 50px 5%;
      flex-direction: column;
    });

    .mobile__pc({
      padding: 50px 5%;
      flex-direction: column;
    });
  }

  &--single {
    padding: 15px 150px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    .desktop__pc--1100-auto({
      padding: 25px 100px;
    });

    .tablet__pc({
      padding: 25px 50px;
      flex-direction: column;
    });

    .mobile__pc({
      padding: 25px 25px;
      flex-direction: column;
    });
  }

  &--breadcrumbs {
    padding: 25px 150px 75px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .desktop__pc--1100-auto({
      padding: 25px 100px 50px;
    });

    .tablet__pc({
      padding: 25px 50px 50px;
    });

    .mobile__pc({
      flex-direction: column;
      padding: 50px 25px 25px;
    });
  }

  &--title {
    padding: 0 150px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .desktop__pc--1100-auto({
      padding: 0 100px;
    });

    .tablet__pc({
      padding: 0 50px;
    });

    .mobile__pc({
      padding: 0 25px;
    });
  }

  &__column {
    width: 100%;

    &:nth-child(1) {
      padding-right: 50px;

      .mobile__pc({
        padding: 0;
      });
    }

    &:nth-child(2) {

      .mobile__pc({
        padding: 0;
      });
    }

    &--33 {
      width: 33%;

      &:nth-child(1) {
        padding-right: 25px;
      }
  
      &:nth-child(2) {
        padding-right: 25px;
      }
    }

    &--40 {
      width: 40%;
    }

    &--50 {
      width: 50%;
    }

    &--60 {
      width: 60%;
    }

    &--67 {
      width: 67%;
    }

    .tablet__pc({
      width: 100%;
    });

    .mobile__pc({
      width: 100%;
    });
  }
}