@font-face {
    font-family: 'graphik-web';
    font-style: normal;
    src: url('fonts/Graphik-Black/Graphik-Black.eot?') format('eot'),
        url('fonts/Graphik-Black/Graphik-Black.woff') format('woff'),
        url('fonts/Graphik-Black/Graphik-Black.ttf') format('truetype'),
        url('fonts/Graphik-Black/Graphik-Black.svg#Graphik-Black') format('svg');
}