@font-face {
    font-family: 'adelle-semibold';
    font-style: normal;
    src: url('fonts/adelle/semibold/Adelle-Cyrillic-SemiBold.eot?') format('eot'),
        url('fonts/adelle/semibold/Adelle-Cyrillic-SemiBold.woff') format('woff'),
        url('fonts/adelle/semibold/Adelle-Cyrillic-SemiBold.ttf') format('truetype'),
        url('fonts/adelle/semibold/Adelle-Cyrillic-SemiBold.svg#Adelle-Cyrillic-SemiBold') format('svg');
}

@font-face {
    font-family: 'adelle-regular';
    font-style: normal;
    src: url('fonts/adelle/regular/AdelleCyrillic.eot?') format('eot'),
        url('fonts/adelle/regular/AdelleCyrillic.woff') format('woff'),
        url('fonts/adelle/regular/AdelleCyrillic.ttf') format('truetype'),
        url('fonts/adelle/regular/AdelleCyrillic.svg#AdelleCyrillic') format('svg');
}