@font-face {
    font-weight: 100;
    font-style: normal;
    font-family: 'museo-sans';
    src:    url('../../fonts/museo-sans/100/museo-sans--100.eot'); /* IE9 Compat Modes */
    src:    url('../../fonts/museo-sans/100/museo-sans--100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../fonts/museo-sans/100/museo-sans--100.woff2') format('woff2'), /* Super Modern Browsers */
            url('../../fonts/museo-sans/100/museo-sans--100.woff') format('woff'), /* Pretty Modern Browsers */
            url('../../fonts/museo-sans/100/museo-sans--100.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../../fonts/museo-sans/100/museo-sans--100.svg#museo-sans--100') format('svg'); /* Legacy iOS */
}

@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'museo-sans';
    src:    url('../../fonts/museo-sans/300/museo-sans--300.eot'); /* IE9 Compat Modes */
    src:    url('../../fonts/museo-sans/300/museo-sans--300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../fonts/museo-sans/300/museo-sans--300.woff2') format('woff2'), /* Super Modern Browsers */
            url('../../fonts/museo-sans/300/museo-sans--300.woff') format('woff'), /* Pretty Modern Browsers */
            url('../../fonts/museo-sans/300/museo-sans--300.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../../fonts/museo-sans/300/museo-sans--300.svg#museo-sans--300') format('svg'); /* Legacy iOS */
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'museo-sans';
    src:    url('../../fonts/museo-sans/500/museo-sans--500.eot'); /* IE9 Compat Modes */
    src:    url('../../fonts/museo-sans/500/museo-sans--500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../fonts/museo-sans/500/museo-sans--500.woff2') format('woff2'), /* Super Modern Browsers */
            url('../../fonts/museo-sans/500/museo-sans--500.woff') format('woff'), /* Pretty Modern Browsers */
            url('../../fonts/museo-sans/500/museo-sans--500.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../../fonts/museo-sans/500/museo-sans--500.svg#museo-sans--500') format('svg'); /* Legacy iOS */
}


@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'museo-sans';
    src:    url('../../fonts/museo-sans/700/museo-sans--700.eot'); /* IE9 Compat Modes */
    src:    url('../../fonts/museo-sans/700/museo-sans--700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../fonts/museo-sans/700/museo-sans--700.woff2') format('woff2'), /* Super Modern Browsers */
            url('../../fonts/museo-sans/700/museo-sans--700.woff') format('woff'), /* Pretty Modern Browsers */
            url('../../fonts/museo-sans/700/museo-sans--700.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../../fonts/museo-sans/700/museo-sans--700.svg#museo-sans--700') format('svg'); /* Legacy iOS */
}

@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: 'museo-sans';
    src:    url('../../fonts/museo-sans/900/museo-sans--900.eot'); /* IE9 Compat Modes */
    src:    url('../../fonts/museo-sans/900/museo-sans--900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../fonts/museo-sans/900/museo-sans--900.woff2') format('woff2'), /* Super Modern Browsers */
            url('../../fonts/museo-sans/900/museo-sans--900.woff') format('woff'), /* Pretty Modern Browsers */
            url('../../fonts/museo-sans/900/museo-sans--900.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../../fonts/museo-sans/900/museo-sans--900.svg#museo-sans--900') format('svg'); /* Legacy iOS */
}