.header {

	// flex
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	// sizes
	margin-bottom: 15px;

	&--home {
		z-index: 3;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
	}

	&--other {
		top: auto;
		left: auto;
		right: auto;
		position: relative;
		padding: 0 0 0 15px;

		align-items: flex-start;
		justify-content: flex-end;

		.tablet--pc({
			padding: 0;
			height: 50px;
			background-color: @color__base--2;
		});

		.mobile--pc({
			padding: 0;
			height: 40px;
			background-color: @color__base--2;
		});
	}

	&--main {
		margin-bottom: 50px;
	}

	&__wrap {

		// view
		width: 100%;

		// animation
		transition: all ease .3s;

		.tablet--pc({

			// position
			z-index: 3;
			top: 0;
			left: 0;
			position: fixed;

			// view
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;

			// background
			background-color: rgba(193, 211, 127, .9);

		});
	
		.mobile--pc({

			// position
			z-index: 3;
			top: 0;
			left: 0;
			position: fixed;

			// view
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;

			// background
			background-color: rgba(193, 211, 127, .9);

		});

		&--show {
			opacity: 1;
			visibility: visible;

			// animation
			transition: all ease .3s;
		}

	}

	&__top {
		// position
		z-index: 3;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;

		// sizes
		width: 100%;
		// background-color: @color__white;
		// box-shadow: 0 0px 3px 0 rgba(0, 0, 0, .3);

		.desktop--pc({
			// size
			padding: 0 0;
		});

		.tablet--pc({
			// size
			padding: 0;
		});

		.mobile--pc({
			// size
			padding: 0;
		});

	}

	&__bottom {

		// position
		z-index: 2;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
			
		.tablet--pc({
			justify-content: center;
		});
			
		.mobile--pc({
			justify-content: center;
		});

		&--home {
			left: 110px;
			right: 110px;
			bottom: -40px;
			position: absolute;

			.desktop--pc({
				// position
				left: 110px;
				right: 110px;
			});
		
			.desktop--pc--1024-800({
				left: 50px;
				right: 50px;
				bottom: -35px;
			});
	
			.tablet--pc({
				// position
				left: auto;
				right: auto;
				bottom: auto;
				position: relative;
			});
	
			.mobile--pc({
				// position
				left: auto;
				right: auto;
				bottom: auto;
				position: relative;
			});
		}

	}

	&__menu {

		&--desktop {
			
			.desktop--pc({
				.show();
			});

			.tablet--pc({
				.hide();
			});

			.mobile--pc({
				.hide();
			});

		}

		&--mobile {

			.desktop--pc({
				.hide();
			});

			.tablet--pc({
				.show();
			});

			.mobile--pc({
				.show();
			});

		}

	}

	.tablet--pc({
		
	});

	.mobile--pc({
    z-index: 2;
		width: 100%;
		position: fixed;
	});

}
