.img {
  display: block;
  max-width: 100%;

  &--home {
    max-width: 30%;
    margin-right: 100px;

    .desktop__pc--1400-auto({
      max-width: 20%;
      margin-right: 75px;
    });

    .desktop__pc--1100-auto({
      margin-bottom: 50px;
    });

    .tablet__pc({
      margin-bottom: 50px;
    });

    .mobile__pc({
      min-width: 200px;
      margin-bottom: 50px;
    });
  }
}
