.lang {
  // position
  top: 5px;
  right: 20px;
  position: absolute;

  // offset
  margin: 0;

  // view
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;

  &-item {
    margin-left: 15px;

    &:nth-child(1) {
      margin-left: 0;
    }

    a {
      font-size: 14px;
      font-weight: 700;
      color: @color__link--hover;

      // animation
      transition: .3s ease;
      
      &:hover {
        text-decoration: none;
      }  
    }

    &.current-lang {
      a {
        font-weight: 400;
        color: @color__grey--light;
      }
    }
  }
}
