.list {
  // view
  padding: 0;
  list-style-type: none;

  // position
  margin: 0;

  &__item {
    &--home {
      margin-bottom: 35px;
    }

    &--justify {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    &--download {
      display: flex;
    }

    &--marked {
      position: relative;
      padding: 0 0 0 15px;

      &::before {
        content: '';
        width: 6px;
        height: 6px;
        top: 11px;
        left: 0px;
        position: absolute;
        border-radius: 100%;
        background-color: @color__black;
      }
    }
  }

  &--home {
    max-width: 60%;
    align-self: flex-end;

    .desktop__pc--1400-auto({
      max-width: 70%;
    });

    .desktop__pc--1100-auto({
      width: 100%;
      max-width: 100%;
    });

    .tablet__pc({
      width: 100%;
      max-width: 100%;
    });

    .mobile__pc({
      width: 100%;
      max-width: 100%;
    });
  }

  &--horizontal {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &-center{
      justify-content: center;
    }
  }

  &--vertical {
    padding: 15px 0 15px 15px;
  }
}