.logo {
  // size
  width: 100%;
  max-width: 10vw;
  display: block;
  // animation
  transition: all .2s ease-in-out;

  &--fixed {
    // position
    top: 125px;
    left: 125px;
    z-index: 2;
    position: fixed;

    .desktop--pc--1024-800({
      top: 50px;
      left: 50px;
    });

    .tablet--pc({
      display: none;
    });

    .mobile--pc({
      display: none;
    });

    &::before {
      // content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
      background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00000000',GradientType=1 );
    }

  }

  &:hover {
    opacity: .8;
  }

  &--other {
    top: 25px;
    left: 75px;
    z-index: 2;
    max-width: 8vw;
    position: relative;

    .desktop--pc--1024-800({
      top: 10px;
      left: 25px;
    });

    .tablet--pc({
      display: none;
    });

    .mobile--pc({
      display: none;
    });
  }

  &--single {
    top: 25px;
    left: 75px;
    z-index: 2;
    position: absolute;
    max-width: 8vw;

    .tablet--pc({
      display: none;
    });

    .mobile--pc({
      display: none;
    });
  }
}
