// Screen: PC monitor
// Size: desktop
.desktop__pc(@rules) {
  @media only screen and (min-width: ( @width__desktop--min ) ) { @rules(); }
}
.desktop__pc--1600-auto(@rules) {
  @media only screen and (min-width: ( @width__desktop--min ) ) and (max-width: 1600px) { @rules(); }
}
.desktop__pc--1500-auto(@rules) {
  @media only screen and (min-width: ( @width__desktop--min ) ) and (max-width: 1500px) { @rules(); }
}
.desktop__pc--1400-auto(@rules) {
  @media only screen and (min-width: ( @width__desktop--min ) ) and (max-width: 1400px) { @rules(); }
}
.desktop__pc--1100-auto(@rules) {
  @media only screen and (min-width: ( @width__desktop--min ) ) and (max-width: 1100px) { @rules(); }
}
.desktop__pc--1024-800(@rules) {
  @media only screen and (min-width: ( @width__desktop--min ) ) and (max-height: 800px) { @rules(); }
}

// Screen: PC monitor
// Size: tablet
.tablet__pc(@rules) {
  @media only screen and (min-width: @width__tablet--min) and (max-width: @width__tablet--max ) { @rules(); }
}

.tablet__pc--landscape(@rules) {
  @media only screen and (min-width: @width__tablet--min) and (max-width: @width__tablet--max) and (orientation: landscape) {
    @rules();
  }
}

.tablet__pc--portrait(@rules) {
  @media only screen and (min-width: @width__tablet--min) and (max-width: @width__tablet--max) and (orientation: landscape) {
    @rules();
  }
}

.tablet__device--landscape(@rules) {
  @media only screen and (device-width: @width__tablet--min) and (device-height: @width__tablet--max) and (orientation: landscape) {
    @rules();
  }
}

.tablet__device-portrait(@rules) {
  @media only screen and (device-width: @width__tablet--min) and (device-height: @width__tablet--max) and (orientation: portrait) {
    @rules();
  }
}

// Screen: PC monitor
// Size: mobile
.mobile__pc(@rules) {
  @media only screen and (max-width: @width__mobile--max) { @rules(); }
}
