.rgba(@attr, @color, @opacity) {
	@c1: #fff;
	@c2: @color;
	@{attr}: rgb((1 - @opacity) * red(@c1) + @opacity * red(@c2), (1 - @opacity) * green(@c1) + @opacity * green(@c2), (1 - @opacity) * blue(@c1) + @opacity * blue(@c2));
}
// Retina img
// EXAMPLE: .image-2x('../img/icon_phone.png');
.image-2x(@image, @repeat: no-repeat) {
	@filename  : ~`/(.*)\.(jpg|jpeg|png|gif)/.exec(@{image})[1]`;
	@extension : ~`/(.*)\.(jpg|jpeg|png|gif)/.exec(@{image})[2]`;
	background-image: ~`"url(@{filename}.@{extension})"`;
	background-repeat: @repeat;

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) {
		/* on retina, use image that's scaled by 2 */
		background-image: ~`"url(@{filename}@2x.@{extension})"`;
	}
}
/* @3x Images (Pixel Ratio of 2.25+) */
.image-3x(@image, @repeat: no-repeat) {
	@filename  : ~`/(.*)\.(jpg|jpeg|png|gif)/.exec(@{image})[1]`;
	@extension : ~`/(.*)\.(jpg|jpeg|png|gif)/.exec(@{image})[2]`;
	background-image: ~`"url(@{filename}.@{extension})"`;
	background-repeat: @repeat;

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) {
		/* on retina, use image that's scaled by 2 */
		background-image: ~`"url(@{filename}@2x.@{extension})"`;
	}

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2.25),
	only screen and (      -o-min-device-pixel-ratio: 9/4),
	only screen and (        min-device-pixel-ratio: 2.25),
	only screen and (            min-resolution: 2.25dppx) {
		/* on retina, use image that's scaled by 3 */
		background-image: ~`"url(@{filename}@3x.@{extension})"`;
	}
}
.hide() {
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
}
.show() {
	width: auto;
	height: auto;
	opacity: 1;
	visibility: visible;
}
.no-break() {
	white-space: nowrap;
}
.no-select() {
	user-select: none;
	cursor: default;
}
.transition (@transition) {
	transition: @transition;
}
.border-radius (@border-radius) {
	border-radius: @border-radius;
}
.placeholder(@rules) {
	&::-webkit-input-placeholder {
		@rules();
	}
	&:-moz-placeholder {
		@rules();
	}
	&::-moz-placeholder {
		@rules();
	}
	&:-ms-input-placeholder {
		@rules();
	}
}
