.title {
  // font
  color: @color__black;

  &--h1 {
    // font
    font-size: 2em;
    line-height: 1.5;

    // position
    margin-bottom: 50px;

    .mobile__pc({
      line-height: 1.1;
    });
  }

  &--h2 {
    // font
    font-size: 1.75em;
    line-height: 1.4;
  }

  &--h3 {
    // font
    font-size: 1.5em;
    line-height: 1.3;
  }

  &--h4 {
    // font
    font-size: 1.25em;
    line-height: 1.2;
  }

  &--h5 {
    // font
    font-size: 1em;
    line-height: 1.1;
  }

  &--h6 {
    // font
    font-size: 0.75em;
    line-height: 1;
  }
}
