/* General Common styles */

// Colors
@color__white: #ffffff;
@color__blue: #7046bd;
@color__link--hover: #ff35b2;
@color__black: #000000;
@color__grey--light: #cccccc;

// Media widths
@width__desktop--max: 2560px;
@width__desktop--hd: 1920px;

@width__desktop--mid: 1170px;
@width__desktop--min: 1025px;

@width__tablet--max: 1024px;
@width__tablet--min: 768px;

@width__mobile--max: 767px;

@width__scrollbar: 30px;

@width__full: 100%;
@width__full--partially: 90%;


@width__content: 1170px;
@width__sidebar: 204px;
@width__sidebar--tablet: 300px;

// Heights of header
@height__header--tablet: 70px;
@height__header--mobile: 50px;
