.wysiwyg {
  width: 100%;
  padding: 0 0 12px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0 0 15px;
}

p {
  font-size: 1.4em;
  margin: 0 0 30px;
  font-weight: 400;
  line-height: 1.5;

  .mobile__pc({
    font-size: 1.1em;
    line-height: 1.3;
    font-weight: 500;
  });
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

ul {
  padding: 15px 0;

  li {
    font-size: 1.2em;
    margin-bottom: 5px;

    .desktop__pc({
      line-height: 1.5;
    });

    .tablet__pc({
      line-height: 1.3;
    });

    .mobile__pc({
      line-height: 1.1;
    });
  }
}

code {
  font-family: consolas;
}
