<div class="container container--single">

  <div class="container__column">




    <div class="row nopadding">

      <div class="">

        <h2>
          Вступление
        </h2>

        Всем привет!

        Сегодня я хочу описать плагин поиска на WordPress - <strong>Ajax Search Pro</strong>. Плагин очень функционален, имеет громадное количество настроек. С первого раза в них можно запутаться. И именно для этого и была написана эта статья - чтобы быстро и качественно разобраться с этим плагином. Также вы сможете скачать его Pro версию бесплатно и воспользоваться демо версией плагина.

      </div>

    </div>

    Плагин платный($26 на момент написания статьи). Но, по-моему, это не комильфо прям вот так вот сразу пользоваться платной версией. :) Думаю, что для ознакомления с ним можно воспользоваться ломаной версией.

    <div class="row nopadding">
      <div class="col-xxs-12">
        <h3>Демо поиска</h3>
      </div>
    </div>

    <div class="row nopadding">
      <div class="col-xlg-6 col-xlg-offset-3 col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 col-xxs-12">[wpdreams_ajaxsearchpro id=1]</div>
    </div>

    <div class="row nopadding">

      <div class="col-xxs-12">

        <p class="text-center">С помощью этого поиска вы можете найти любой материал на моём сайте.</p>

      </div>

    </div>


<h2>7 простых шагов, чтобы начать пользоваться Ajax Search Pro</h2>
<ul>
 	<li>Качаем плагин;</li>
 	<li>Устанавливаем;</li>
 	<li>
<div class="row nopadding">
<div class="col-xlg-5 col-lg-5 col-md-5 col-xs-12 col-xxs-12">Открываем вкладку "Ajax Search Pro" в админке и видим следующую картину:</div>
<div class="col-xlg-1 col-lg-1 col-md-1 col-xs-12 col-xxs-12"></div>
<div class="col-xlg-6 col-lg-6 col-md-6 col-xs-12 col-xxs-12">

[caption id="attachment_202" align="alignnone" width="851"]<a href="https://stepanovmax.ru/wp-content/uploads/2015/12/Screenshot_4.png" rel="attachment wp-att-202"><img class="size-full wp-image-202" src="https://stepanovmax.ru/wp-content/uploads/2015/12/Screenshot_4.png" alt="Вид панели управления ASPro" width="851" height="281" /></a> Вид панели управления ASPro[/caption]

</div>
</div></li>
 	<li>Здесь нам предлагают ввести имя поиска;</li>
 	<li>
<div class="row nopadding">
<div class="col-xlg-5 col-lg-5 col-md-5 col-xs-12 col-xxs-12">Вводим имя на латинице(ибо на кириллице мы увидим вот это);</div>
<div class="col-xlg-1 col-lg-1 col-md-1 col-xs-12 col-xxs-12"></div>
<div class="col-xlg-6 col-lg-6 col-md-6 col-xs-12 col-xxs-12">

[caption id="attachment_206" align="alignnone" width="852"]<a href="https://stepanovmax.ru/wp-content/uploads/2015/12/Screenshot_5.png" rel="attachment wp-att-206"><img class="size-full wp-image-206" src="https://stepanovmax.ru/wp-content/uploads/2015/12/Screenshot_5.png" alt="Имя вводим только на латинице" width="852" height="317" /></a> Имя вводим только на латинице[/caption]

</div>
</div></li>
</ul>
<ul>
 	<li>
<div class="row nopadding">
<div class="col-xlg-5 col-lg-5 col-md-5 col-xs-12 col-xxs-12">Далее двигаем в виджеты и применяем наш новосозданный виджет в нужную нам область;</div>
<div class="col-xlg-1 col-lg-1 col-md-1 col-xs-12 col-xxs-12"></div>
<div class="col-xlg-6 col-lg-6 col-md-6 col-xs-12 col-xxs-12">

[caption id="attachment_215" align="alignnone" width="752"]<a href="https://stepanovmax.ru/wp-content/uploads/2015/12/Screenshot_7.png" rel="attachment wp-att-215"><img class="size-full wp-image-215" src="https://stepanovmax.ru/wp-content/uploads/2015/12/Screenshot_7.png" alt="Выбираем виджет ASPro" width="752" height="526" /></a> Выбираем виджет ASPro[/caption]

</div>
</div></li>
 	<li>
<div class="row nopadding">
<div class="col-xlg-8 col-lg-8 col-md-8 col-xs-12 col-xxs-12">
<pre class="lang:default decode:true ">&lt;?php if ( is_active_sidebar( 'search_side' ) ) : ?&gt;
  &lt;div id="widget-area" class="widget-area" role="complementary"&gt;
    &lt;?php dynamic_sidebar( 'search_side' ); ?&gt;
  &lt;/div&gt;
&lt;?php endif; ?&gt;</pre>
</div>
</div>
<div class="row nopadding">
<div class="col-xlg-6 col-lg-6 col-md-6 col-xs-12 col-xxs-12">

И далее вставляем этот код в нужное место на сайте, не забывая подставлять свои имена сайдбаров(search_side):

</div>
</div></li>
</ul>
И всё: стандартный живой поиск подключён и работает. Без редактирования его настроек поиск будет искать только по стандартным записям Wordpress, а также большинство текстов плагина будут на английском. Чтобы подстроить поиск под свой сайт, нужно будет немного покопаться в настройках. Об этом далее.
<h2>Настраиваем Ajax Search Pro под свой сайт</h2>
У этого плагина имеется большое количество настроек. Они разбиты на 8 основных вкладок:
<ul>
 	<li>General options (<b>Основные настройки</b>)</li>
 	<li>Multisite options (<b>Настройки нескольких сайтов</b>)</li>
 	<li>Frontend Search Settings (<b>Настройки внешнего вида поиска</b>)</li>
 	<li>Layout options (<b>Настройки расположения</b>)</li>
 	<li>Autocomplete &amp; Suggestions (<b>Автозаполнение и Предложения</b>)</li>
 	<li>Theme options (<b>Настройки темы</b>)</li>
 	<li>Relevance options (<b>Настройки актуальности</b>)</li>
 	<li>Advanced options (<b>Дополнительные настройки</b>)</li>
</ul>
&nbsp;

В каждой из этих вкладок имеется от 2 до 12 подвкладок, а также прочих настроек. Начнём с General options.
<ul>
 	<li>General options (<b>Основные настройки</b>)
<ul>
 	<li>Sources
Настройка "Search Engine" имеет на выбор два значения: "Regular engine" и "Index table engine". Разница в том, что при "Regular engine" поиск ведётся по текущим, уже созданным таблицам.

[caption id="attachment_324" align="alignnone" width="842"]<a href="https://stepanovmax.ru/wp-content/uploads/2015/12/Screenshot_1-1.png" rel="attachment wp-att-324"><img class="size-full wp-image-324" src="https://stepanovmax.ru/wp-content/uploads/2015/12/Screenshot_1-1.png" alt="Настройки ASPro" width="842" height="573" /></a> Настройки ASPro[/caption]</li>
</ul>
</li>
</ul>
<h2>Проблемы использования Ajax Search Pro</h2>
В моём случае мне нужен был поиск по кастомным записям и по их кастомным полям. Поэтому пришлось его использовать в связке с несколькими другими плагинами: Types, Advanced Custom Fields Pro.

В процессе использования плагина возникло несколько проблем.
<h3>Проблема №1</h3>
<div class="row nopadding">
<div class="col-xlg-5 col-lg-5 col-md-5 col-xs-12 col-xxs-12">

[caption id="attachment_168" align="alignnone" width="1011"]<a href="https://stepanovmax.ru/wp-content/uploads/2015/12/Screenshot_1.png" rel="attachment wp-att-168"><img class="size-full wp-image-168" src="https://stepanovmax.ru/wp-content/uploads/2015/12/Screenshot_1.png" alt="Проблема с дубликатом контента Ajax Search Pro" width="1011" height="367" /></a> Проблема с дубликатом контента Ajax Search Pro[/caption]

</div>
<div class="col-xlg-1 col-lg-1 col-md-1 col-xs-12 col-xxs-12"></div>
<div class="col-xlg-6 col-lg-6 col-md-6 col-xs-12 col-xxs-12">

Одна из них: в результатах поиска стали появляться дубликаты контента. Даже я бы сказал полудубликаты.

Но эти полудубликаты есть ни что иное, как поиск по всем файлам и записям. То есть эти дубликаты появляются, когда плагин ищет фразу везде, где ему разрешено искать. То есть решением будет запрет на поиск среди, например, картинок, или среди пользователей сайта.

</div>
</div>
<h3>Проблема №2</h3>
<div class="row nopadding">
<div class="col-xlg-6 col-lg-6 col-md-6 col-xs-12 col-xxs-12">

Сложно назвать это проблемой, но всё-таки об этом моменте стоит знать. Случается так, что ломаная версия может установиться криво. За этим тоже надо следить. То есть она установится, админка скажет, что всё "Ок", но отображаться в админке плагин будет криво. На рисунке изображен вариант правильной установки плагина.

</div>
<div class="col-xlg-1 col-lg-1 col-md-1 col-xs-12 col-xxs-12"></div>
<div class="col-xlg-5 col-lg-5 col-md-5 col-xs-12 col-xxs-12">

[caption id="attachment_185" align="alignnone" width="440"]<a href="https://stepanovmax.ru/wp-content/uploads/2015/12/Screenshot_2.png" rel="attachment wp-att-185"><img class="size-full wp-image-185" src="https://stepanovmax.ru/wp-content/uploads/2015/12/Screenshot_2.png" alt="Баг #2 Ajax Search Pro" width="440" height="273" /></a> Баг #2 Ajax Search Pro[/caption]

      </div>

    </div>

  </div>

</div>