<div class="container container--single">
  <div class="container__column container__column--33">

    <img class="alignnone wp-image-461 size-full" src="http://stepanovmax.local/wp-content/uploads/2016/08/article.jpg" alt="Новая команда для поиска в гугл - двойная звездочка" width="800" height="500" />

  </div>
  <div class="container__column container__column--67">

    <p>Некоторые зарубежные пользователи обнаружили, что популярный поисковик обзавелся новой <strong>командой для поиска в гугл</strong> - "**"(двойная звездочка без кавычек). Она помогает найти компании, находящиеся рядом с вами.</p>

    <p>Т.е. если у вас включён пункт "Отслеживать моё местоположение", то эта опция для вас будет работать.</p>

    <p>Пока что эта фишка работает на мобильниках и пк-шках в Штатах, Канаде и Европе. В российском и украинском поисковиках гугла поиск с помощью звездочек не вернул ожидаемых результатов.</p>

  </div>
</div>