<style>
  @font-face {
    font-family: 'icomoon';
    src:  url('https://stepanovmax.ru/wp-content/themes/sm/fonts/telegram-fonts/icomoon.eot?fm8cc1');
    src:  url('https://stepanovmax.ru/wp-content/themes/sm/fonts/telegram-fonts/icomoon.eot?fm8cc1#iefix') format('embedded-opentype'),
          url('https://stepanovmax.ru/wp-content/themes/sm/fonts/telegram-fonts/icomoon.ttf?fm8cc1') format('truetype'),
          url('https://stepanovmax.ru/wp-content/themes/sm/fonts/telegram-fonts/icomoon.woff?fm8cc1') format('woff'),
          url('https://stepanovmax.ru/wp-content/themes/sm/fonts/telegram-fonts/icomoon.svg?fm8cc1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-size: 100px;

    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-1:before {
    content: "\e90b";
    color: #6FAEEC;
    transition: color .4s ease;
  }
    .icon-1:hover:before {
      color: #2379CF;
    }


  .icon-2 .path1:before {
    content: "\e90c";
    color: #2379CF;
    transition: color .4s ease;
  }
    .icon-2:hover .path1:before {
      color: #6FAEEC;
    }
  .icon-2 .path2:before {
    content: "\e90d";
    margin-left: -1em;
    color: #FFFFFF;
  }
  .icon-2 .path3:before {
    content: "\e90e";
    margin-left: -1em;
    color: #2379CF;
    transition: color .4s ease;
  }
    .icon-2:hover .path3:before {
      color: #6FAEEC;
    }
  .icon-2 .path4:before {
    content: "\e90f";
    margin-left: -1em;
    color: #FFFFFF;
    transition: color .4s ease;
  }


  .icon-3 .path1:before {
    content: "\e907";
    color: #6FAEEC;
    transition: color .4s ease;
  }
    .icon-3:hover .path1:before {
      color: #2379CF;
    }
  .icon-3 .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: #FFFFFF;
  }
  .icon-3 .path3:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(209, 227, 239);
  }
  .icon-3 .path4:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(182, 204, 221);
  }


  .icon-4 .path1:before {
    content: "\e900";
    color: #000000;
  }
  .icon-4 .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: #FFFFFF;
  }
  .icon-4 .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: #000000;
  }
  .icon-4 .path4:before {
    content: "\e903";
    margin-left: -1em;
    color: #000000;
    opacity: 0.75;
  }
  .icon-4 .path5:before {
    content: "\e904";
    margin-left: -1em;
    color: #3d4045;
    transition: color .4s ease;
  }
    .icon-4:hover .path5:before {
      color: #000000;
    }
  .icon-4 .path6:before {
    content: "\e905";
    margin-left: -1em;
    color: #000000;
    opacity: 0.15;
  }
  .icon-4 .path7:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(64, 67, 71);
    opacity: 0.1;
  }
</style>

<div class="container container--single">
  <div class="container__column container__column--33">

    <h3 class="title title--h2">
      Оглавление
    </h3>

    <ul class="list list--vertical">
      <li class="list__item">
        <a class="link" href="#versions-icons">
          Варианты иконок
        </a>
      </li>

      <li class="list__item">
        <a class="link" href="#font-icons">
          Шрифтовые иконки
        </a>
      </li>

      <li class="list__item">
        <a class="link" href="#svg">
          SVG спрайты
        </a>
      </li>

      <li class="list__item">
        <a class="link" href="#psd">
          SVG, JPG и PNG с источниками
        </a>
      </li>

      <li class="list__item" style="display: none;">
        <a class="link" href="#gif">
          Анимированные иконки
        </a>
      </li>
    </ul>

  </div>

  <div class="container__column container__column--67">

    <h3 class="title title--h2">
      Введение
    </h3>

    <p>Я очень люблю векторную графику. Вот прям очень люблю. И я, если это уместно, всем и всегда советую переводить любую графику на сайте в вектор. Всё, что выглядит не растрово, и всё, что ещё можно трансформировать в вектор, надо преобразовывать в вектор.</p>

    <p>Сегодня я столкнулся с проблемой, что не смог найти иконку Телеграма в векторе. Я искал вот эту:

      <br>

      <img src="https://stepanovmax.ru/wp-content/uploads/2016/09/type3.svg" alt="Телеграм самолётик" width="150" height="150" />

    </p>

    <p>Это меня расстроило, вот прям сильно... Я допускаю, что возможно это я плохо искал и не нашёл, но всё же.</p>

  </div>
</div>

<div class="container container--single">
  <div class="container__column container__column--100">

    <p>И я подумал, что, если в общем доступе нет такой иконки, то её нужно создать. Для этого я придумал несколько условий для этого:</p>

    <ul class="list">
      <li class="list__item list__item--marked">
        В нескольких вариациях;
      </li>
      <li class="list__item list__item--marked">
        В нескольких форматах;
      </li>
      <li class="list__item list__item--marked">
        Выложить в общий доступ с источниками для дальнейшей кастомизации пользователями;
      </li>
    </ul>

  </div>
</div>

<div class="container container--single" id="versions-icons">
  <div class="container__column container__column--100">

    <h2 class="title title--h2">
      # Варианты иконок
    </h2>

    <p>Вот какие варианты иконок мне захотелось сделать в итоге.</p>

  </div>
</div>

<div class="container container--single">
  <div class="container__column container__column--100">

    <ul class="list list--horizontal list--horizontal-center">
      <li class="list__item">
        <img src="https://stepanovmax.ru/wp-content/uploads/2016/09/type2.svg" alt="" width="175" height="175" class="" />
      </li>
      <li class="list__item">
        <img src="https://stepanovmax.ru/wp-content/uploads/2016/09/type1.svg" alt="" width="190" height="190" class="" />
      </li>
      <li class="list__item">
        <img src="https://stepanovmax.ru/wp-content/uploads/2016/09/type3.svg" alt="Телеграм самолётик" width="170" height="170" class="" />
      </li>
      <li class="list__item">
        <img src="https://stepanovmax.ru/wp-content/uploads/2016/09/type4.svg" alt="Цифровое сопротивление" width="200" height="200" class="" />
      </li>
    </ul>

  </div>
</div>

<div class="container container--single">
  <div class="container__column container__column--33">
  </div>
  <div class="container__column container__column--33">

    <p>В нижеследующих разделах вы найдёте эти иконки в следующих форматах: <b>AI</b>, <b>PNG</b>, <b>JPG</b>, <b style="display: none;">GIF</b>, <b>шрифтовая иконка</b>, <b>SVG спрайт</b></p>

    <p style="display: none;">В формате GIF я немножко анимировал каждую из иконок.</p>

  </div>
</div>

<div class="container container--title" id="font-icons">
  <div class="container__column container__column--50">

    <h2 class="title title--h2">
      # Шрифтовые иконки
    </h2>

    <p>Это достаточно удобный формат для создания иконок. С их помощью можно создавать достаточно сложные ховер-эффекты, т.к. в шрифтовой иконке нам доступны все её слои для изменения цвета в каждом. Для наглядности я добавил каждой шрифтовой иконке свой рандомный ховер-эффект с цветом.</p>

  </div>
</div>

<div class="container container--single">
  <div class="container__column container__column--33">
    <div class="font-wrapper__line">

      <p class="">
        <strong>
          Иконка #1
        </strong>
        <span class="icon-1"></span>
      </p>

<pre>
<code class="html">&lt;span class="icon-1"&gt;
&lt;/span&gt;
</code>
</pre>

<pre>
<code class="css">.icon-1:before {
  content: "\e90b";
  color: #6faeec;
}
  .icon-1:hover:before {
    color: #2379cf;
  }
</code>
</pre>

    </div>

    <div class="font-wrapper__line">
      <p class="">
        <strong>
          Иконка #2
        </strong>
        <span class="icon-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
      </p>

<pre>
<code class="html">&lt;span class="icon-2"&gt;
  &lt;span class="path1"&gt;&lt;/span&gt;
  &lt;span class="path2"&gt;&lt;/span&gt;
  &lt;span class="path3"&gt;&lt;/span&gt;
  &lt;span class="path4"&gt;&lt;/span&gt;
&lt;/span&gt;
</code>
</pre>

<pre>
<code class="css">.icon-2 .path1:before {
  content: "\e90c";
  color: rgb(35, 121, 207);
}
  .icon-2:hover .path1:before {
    color: #6faeec;
  }
.icon-2 .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-2 .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(35, 121, 207);
}
  .icon-2:hover .path3:before {
    color: #6faeec;
  }
.icon-2 .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
</code>
</pre>

    </div>
  </div>

  <div class="container__column container__column--33">
    <div class="font-wrapper__line">
      <p class="">
        <strong>
          Иконка #3
        </strong>
        <span class="icon-3"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
      </p>

<pre>
<code class="html">&lt;span class="icon-3"&gt;
  &lt;span class="path1"&gt;&lt;/span&gt;
  &lt;span class="path2"&gt;&lt;/span&gt;
  &lt;span class="path3"&gt;&lt;/span&gt;
  &lt;span class="path4"&gt;&lt;/span&gt;
&lt;/span&gt;
</code>
</pre>

<pre>
<code class="css">.icon-3 .path1:before {
  content: "\e907";
  color: rgb(80, 177, 223);
}
  .icon-3:hover .path1:before {
    color: #2379CF;
  }
.icon-3 .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-3 .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(209, 227, 239);
}
.icon-3 .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(182, 204, 221);
}
</code>
</pre>

    </div>
  </div>

  <div class="container__column container__column--33">
    <div class="font-wrapper__line">
      <p class="">
        <strong>
          Иконка #4
        </strong>
        <span class="icon-4"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
      </p>

<pre>
<code class="html">&lt;span class="icon-4"&gt;
  &lt;span class="path1"&gt;&lt;/span&gt;
  &lt;span class="path2"&gt;&lt;/span&gt;
  &lt;span class="path3"&gt;&lt;/span&gt;
  &lt;span class="path4"&gt;&lt;/span&gt;
  &lt;span class="path5"&gt;&lt;/span&gt;
  &lt;span class="path6"&gt;&lt;/span&gt;
  &lt;span class="path7"&gt;&lt;/span&gt;
&lt;/span&gt;
</code>
</pre>

<pre>
<code class="html">.icon-4 .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-4 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-4 .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-4 .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.75;
}
.icon-4 .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(61, 64, 69);
}
  .icon-4:hover .path5:before {
    color: #2379CF;
  }
.icon-4 .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.15;
}
.icon-4 .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(64, 67, 71);
  opacity: 0.1;
}
</code>
</pre>

    </div>

  </div>
</div>

<div class="container container--title" id="svg">
  <div class="container__column container__column--50">

    <h2 class="title title--h2">
      # SVG спрайты
    </h2>

  </div>
</div>

  <div class="container container--single">
    <div class="container__column container__column--50">
  
      <p>Хочу отметить, что не менее удобно подключать на сайт иконки через svg спрайт, а не через шрифт или через svg файлы. Метод создания очень прост: - создаёте или находите нужную иконку в svg формате (найти можно, например, на очень содержательном сайте - flaticon), и грузите ее на сайт icomoon.</p>
  
      <p>Эту иконку я нарисовал сам и залил её на icomoon. Вот что у меня получилось:</p>
  
      <p>Чтобы применить иконку на сайте, надо взять содержание svg файла и вставить куда-нибудь сразу после body. А чтобы вывести иконку в нужном месте, нужно взять код вывода иконки и вставить туда, куда нужно. И всё.</p>
  
      <p>Прекрасным свойством является то, что вы можете перекрашивать иконку по ховеру или в статичном положении, добавив svg селектору свойство fill.</p>
  
    </div>
    <div class="container__column container__column--50">
  
      <h4 class="title title--h4">
        HTML вывода иконки
      </h4>
  
<pre>
<code class="html">&lt;svg class="icon icon-telegram"&gt;
  &lt;use xlink:href="#icon-telegram"&gt;
  &lt;/use&gt;
&lt;/svg&gt;
</code>
</pre>
  
      <br class="">
  
      <h4 class="title title--h4">
        Содержание svg файла
      </h4>
  
<pre>
<code class="html">&lt;svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"&gt;
  &lt;defs&gt;
    &lt;symbol id="icon-telegram" viewBox="0 0 32 32"&gt;
      &lt;path class="path1" d="M29.638 2.522l-28.397 11.136c0 0-1.344 0.461-1.235 1.306 0.109 0.851 1.203 1.235 1.203 1.235l7.142 2.406 17.152-10.893c0 0 0.992-0.602 0.954 0 0 0 0.179 0.109-0.352 0.602s-13.523 12.262-13.523 12.262l-0.883 7.814c0.397 0.173 0.755-0.102 0.755-0.102l4.64-4.23 7.168 5.536c1.946 0.851 2.65-0.922 2.65-0.922l5.056-25.498c0.006-1.677-2.33-0.653-2.33-0.653z"&gt;&lt;/path&gt;
    &lt;/symbol&gt;
  &lt;/defs&gt;
&lt;/svg&gt;
</code>
</pre>
  
    </div>
  </div>
  
  
  <div class="container container--single" id="psd">
    <div class="container__column container__column--50">
  
      <h3 class="title title--h2">
        # SVG, JPG и PNG с источниками
      </h3>

      <p>
        Здесь можно скачать иконки в разных форматах и с сорсами. Берите, изменяйте, заливайте на свои сайты. 
      </p>
  
    </div>
  
    <div class="container__column container__column--50">
  
      <ul class="list list--vertical">
        <li class="list__item list__item--justify">
  
          <img src="https://stepanovmax.ru/wp-content/uploads/2016/09/type2.svg" alt="" width="100" height="100" class="" />
  
          <ul class="list list--vertical">
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type2.svg" class="link small" download>
                Скачать в SVG
              </a>
            </li>
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type2.jpg" class="link small" download>
                Скачать в JPG
              </a>
            </li>
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type2.png" class="link small" download>
                Скачать в PNG
              </a>
            </li>
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type2.ai" class="link small" download>
                Скачать в AI
              </a>
            </li>
          </ul>
  
        </li>
  
        <li class="list__item list__item--justify">
  
          <img src="https://stepanovmax.ru/wp-content/uploads/2016/09/type1.svg" alt="" width="100" height="100" class="" />
  
          <ul class="list list--vertical">
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type1.svg" class="link small" download>
                Скачать в SVG
              </a>
            </li>
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type1.jpg" class="link small" download>
                Скачать в JPG
              </a>
            </li>
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type1.png" class="link small" download>
                Скачать в PNG
              </a>
            </li>
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type1.ai" class="link small" download>
                Скачать в AI
              </a>
            </li>
          </ul>
  
        </li>
  
        <li class="list__item list__item--justify">
  
          <img src="https://stepanovmax.ru/wp-content/uploads/2016/09/type3.svg" alt="" width="100" height="100" class="" />
  
          <ul class="list list--vertical">
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type3.svg" class="link small" download>
                Скачать в SVG
              </a>
            </li>
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type3.jpg" class="link small" download>
                Скачать в JPG
              </a>
            </li>
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type3.png" class="link small" download>
                Скачать в PNG
              </a>
            </li>
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type3.ai" class="link small" download>
                Скачать в AI
              </a>
            </li>
          </ul>
  
        </li>
  
        <li class="list__item list__item--justify">
  
          <img src="https://stepanovmax.ru/wp-content/uploads/2016/09/type4.svg" alt="" width="100" height="100" class="" />
  
          <ul class="list list--vertical">
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type4.svg" class="link small" download>
                Скачать в SVG
              </a>
            </li>
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type4.jpg" class="link small" download>
                Скачать в JPG
              </a>
            </li>
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type4.png" class="link small" download>
                Скачать в PNG
              </a>
            </li>
            <li class="list__item list__item--download">
              <a href="https://stepanovmax.ru/wp-content/uploads/2016/09/type4.ai" class="link small" download>
                Скачать в AI
              </a>
            </li>
          </ul>
  
        </li>
      </ul>
  
    </div>
  </div>
  
  
  <div class="container container--single" id="gif" style="display: none;">
    <div class="container__column container__column--33">
  
      <h3 class="title title--h2">
        # Анимированные иконки
      </h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ab his oratores, ab his imperatores ac rerum publicarum principes extiterunt. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Duo Reges: constructio interrete. Ego vero volo in virtute vim esse quam maximam; Nam de isto magna dissensio est. Ait enim se, si uratur, Quam hoc suave! dicturum.
      </p>
  
      <p>
        Restant Stoici, qui cum a Peripateticis et Academicis omnia transtulissent, nominibus aliis easdem res secuti sunt. Sed quod proximum fuit non vidit. Sed venio ad inconstantiae crimen, ne saepius dicas me aberrare; Istam voluptatem perpetuam quis potest praestare sapienti? Sin kakan malitiam dixisses, ad aliud nos unum certum vitium consuetudo Latina traduceret. Hunc ipsum Zenonis aiunt esse finem declarantem illud, quod a te dictum est, convenienter naturae vivere. 
      </p>
  
    </div>
  </div>